
/* Code  */
code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
  font-weight:
}

/* Copy */
#color1 {
  color: #1ad6c3;
  font-weight: 600;
}

#color2 {
  color: #2dd687;
  font-weight: 600;
}
